# Service: count every second and write it to a file
# Date: 2024-02-10
# Author: JT2M0L3Y
# Course: CPSC 334

[Unit]
Description=writes seconds to file
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/bin/go run /usr/bin/counter.go
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
