Package: systemd-counter
Version: 2.0.0
Depends: go, counter
Section: utils
Priority: optional
Architecture: all
Maintainer: JT2M0L3Y <jsmoley@zagmail.gonzaga.edu>
Description: Systemd service to count seconds
  and write them to a file.
